body {
    background-color: aqua;
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
    cursor: none; /* Hide the cursor across the entire page */
}

#image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#movable-kirby {
    position: absolute;
    width: 100px;
    height: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.onigiri {
    position: absolute;
    width: 50px;
    height: auto;
}
